/* FYI: This is just for checkpoint 2 purposes. This would also run through a compiler like terser to have a minified css file.
The folder would reside in src */

img {
    width: 100%;
    height: 250px;
    transition: all .30s ease-in-out;
}

@media screen and (min-width: 845px) {
    img:hover {
        transform: scale(1.1);
        border-radius: 10%;
        cursor: pointer;
    }		
}

.mobileNavBar {
    z-index: 1;
}

#mobileHamburger {
    width: 40px;
    height: 40px;
}

#mobileHamburger img {
    width: 100%;
    height: auto;
}